body {
	padding: 20px;
	padding-bottom: 200px;
	font-family: Arial, sans-serif;
	margin: 0;
	background-color: #f8f9fa;
}

h1 {
	color: #785AA5;
	text-align: center;
	margin-bottom: 21px;
}

h2 {
	color: #785AA5;
	text-align: center;
	margin-bottom: 15px;
}

.search-box {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

input {
	width: 100%;
	max-width: 400px;
	padding: 12px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 8px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	background: white;
	margin: 5px 0;
	padding: 12px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	box-shadow: 0 1px 4px rgba(0,0,0,0.1);
	cursor: pointer;
}

	li.selected {
		background-color: #E6E0F8;
		border: 2px solid #785AA5;
		font-weight: bold;
	}

.message {
	text-align: center;
	margin-top: 15px;
	color: #E85F6E;
	transform: translateX(-50%);
	font-size: 16px;
	font-weight: bold;
}

#bottomBar {
	position: fixed;
	bottom: 20px;
	left: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 999;
}

#submitBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 60px;
	padding: 7px;
	font-size: 18px;
	background-color: #785AA5;
	border: none;
	border-radius: 8px;
	color: white;
	cursor: pointer;
	text-align: center;
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
	z-index: 999;
}

	#submitBtn:active {
		background-color: #E85F6E;
	}
